@model Product

<div class="col-md-12 card-outline-primary card"  >  
        <div class="col-md-12 bg-faded">
            <h3>@Model.Name</h3>
            <p>@Model.Description</p>
            <img src="@Model.Img" style="width: 200px; height:200px;" />
            <p>@Model.Price</p>
            <p>@Model.Category</p>
        </div>
   
</div>

